.navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    color: #fff;
    
    .leftIcon {
        width: 30%;
        height: 50px;
        // background-color: red;
        display: flex;
        align-items: center;
        .contactMe{
            display: flex;
            align-items: center;
            font-size: 20px;
            background: none;
            border: none;
            color: #fff;
            font-family: 'Roboto Mono';
            border-radius: 0;
            border: 1px solid #fff;
            i{
                font-size: 20px;
                margin-right: 10px;
            }

            @media (max-width:768px) {
                font-size: 10px;
            }

            @media (max-width: 500px) {
                i{
                    display: none;
                }
            }
        }
        @media (max-width: 410px) {
            display: none;
        }
    }


    .center-text{
        font-family: "Playfair Display", serif;
        color: #008170;
    }

    .hamburgerIconBox {
        width:  max-content;
        display: flex;
        justify-content: flex-end;
        width: 30%;
        height: 50px;
    }

  }